---
import "@styles/global.css";

import Counter from "@components/Counter";

import Layout from "@layouts/Layout.astro";
---

<Layout title="Página Inicial">
    <h1 class="text-5xl text-center">
        Página Inicial
    </h1>
    <p class="py-5">Isso abaixo é em React</p>
    <Counter client:load>Botão</Counter>
</Layout>
