<footer class="py-8 bg-gray-700 text-white">
    <div class="container mx-auto px-4">
        <div class="text-center pb-10 pt-5">
            <p>&copy; 2025 Site. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>
