---
import "../styles/global.css";

import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { getCollection } from "astro:content";

const docs = await getCollection('docs');

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head title={title} />
    <body>
        <div>
            <Header />
            <div class="flex flex-col items-center justify-center min-h-screen bg-gray-50">
                <slot />
            </div>
            <Footer />
        </div>
    </body>
</html>
